<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="aura_skin.Properties.Settings.AuraSkinConnectionString"
      connectionString="Data Source=.;Initial Catalog=AuraSkin;Integrated Security=True;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Shared.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
		  <bindingRedirect oldVersion="0.0.0.0-27.2462.2.0" newVersion="27.2462.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Tools.Windows" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-27.2.2.0" newVersion="27.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Core.WinForms" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
		  <bindingRedirect oldVersion="0.0.0.0-27.2462.2.0" newVersion="27.2462.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.SfDataGrid.WinForms" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
		  <bindingRedirect oldVersion="0.0.0.0-27.2462.2.0" newVersion="27.2462.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.SfListView.WinForms" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
		  <bindingRedirect oldVersion="0.0.0.0-27.2462.2.0" newVersion="27.2462.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>